/* CSS for header section*/
body {
    background-color: #ffe6f7;
}
header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF69B4;
    color: white; 
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: #ffffff;
    text-align: end;
    font-size: 25px;
    text-decoration: none;
}

header ul li a::after {
    content: '✨';
    display: inline-block;
    margin-left: 3px;
  }

/* top image */
#photo {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/updated-photo.png");
    background-size: cover;
    background-position: center;
}

#photo h2 {
    padding-top: 225px;
    padding-right: 30px;
    float: right;
    text-align: right;
    display: inline-block;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF69B4;
    margin-left: 75%;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* body */
main {
    width: 88%;
    margin: 0 auto;
}

h2 {
    display: inline-block;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF69B4;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 30px;
}

.container > h2 {
    flex-basis: 15%;
    text-align: end;
    border-right: 3px solid #FF69B4;
    padding-right: 30px;
    font-size: 30px;
}

   /* right side */
.container > div {
    flex-basis: 85%;
    padding-left: 30px;
}

    /* about me info */
.am-info {
    display: inline-block;
    font-size: 20px;
}

    /* project/work section */
.work-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horiseon {
    background-image: url("../images/horiseon-crop.png");
    background-size: cover;
}

.project-2 {
    background-image: url("../images/placeholder-img-1.jpeg");
    background-size: contain;
}

.project-3 {
    background-image: url("../images/placeholder-img-2.jpeg");
    background-size: contain;
}

.project-4 {
    background-image: url("../images/placeholder-img-3.png");
    background-size: contain;
}

.project-5 {
    background-image: url("../images/placeholder-img-4.jpeg");
    background-size: contain;
}

.project {
    border: solid 5px #046307;
    min-height: 180px;
    max-height: 180px;
    margin: 0.5em;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding-bottom: 20px;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.project:hover {
    border: solid 5px #FF69B4;
}

.project div{
    padding: 8px 10px;
    background-color: #046307;
    color: #ffffff;
}

.project:first-child {
    min-height: 320px;
    flex-basis: 100%;
}
    /* contact me section */

#contact {
    display: inline-block;
    /* color: #FF69B4; */
}

#contact > p {
    font-size: 20px;
    padding-bottom: 5px;
}

#contact > a {
    text-decoration: none;
    font-size: 20px;
    color: #FF69B4;
    padding-right: 5px;
}

#email::before {
        content: "📧";
        display: inline-block;
        margin-right: 3px;
}

/* code for footer */
footer {
    padding: 30px;
    clear: both;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* screen size adjustment */ 
@media screen and (max-width: 992px) {
    header {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 768px) {
    header, h2 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
  }