/* CSS for header section*/
header {
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FF69B4;
    color: white; 
}

header h1 {
    display: inline-block;
    font-size: 48px;
    color: #ffffff;
}

header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

header div ul {
    list-style-type: none;
}

header div ul li {
    display: inline-block;
    margin-left: 25px;
}

header a {
    color: #ffffff;
    text-align: end;
}

header ul li a::after {
    content: '\205E';
    display: inline-block;
    margin-left: 3px;
  }

/* top image */
#photo {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/updated-photo.png");
    background-size: cover;
    background-position: center;
}

#photo h2 {
    padding-top: 200px;
    text-align: right;
    display: inline-block;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF69B4;
    margin-left: 75%;
    text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

/* body */
h2 {
    display: inline-block;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF69B4;
}

.container {
    display: flex;
    flex-direction: row;
}

.label {
    display: flex;
    padding-left: 20px;
    /* padding-right: 5%;
    border-right: solid #FF69B4 2px; */
}

    /* about me info */
.am-info {
    display: block;
}

    /* Horiseon project section */
#img1 {
    height: 200px;
}

    /* placeholder project section */
h3 {
    display: inline-block;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FF69B4;
}

.placeholder-images {
    height: 100px;
}

    /* email */
/* .email p li {
    display: none;
}
.email p li:hover {
    display: block;
    list-style-type: none;
} */

/* code for footer */
footer {
    padding: 30px;
    clear: both;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

/* screen size adjustment */ 
@media screen and (max-width: 992px) {
    header {
      display: flex;
      flex-wrap: wrap;
    }
  }
  
  @media screen and (max-width: 768px) {
    header, h2 {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }